@model IndexViewModel

@{ 
    ViewData["Title"] = "главная страница";
}

<div class="text-center">
    <h1 class="display-4">Список фильмов</h1>
    <hr />
    @if (Model?.Movies.Count() > 0)
    {
        <div class="container">
            <div class="row">
                @foreach (var movie in Model.Movies)
                {
                    <div class="col-sm-3 m-0">
                        <a href="@Url.Action("Info",new { id=movie.Id})">
                            @if (movie.Poster != null)
                            {
                                <img class="img-fluid" alt="не найдено" src="@Url.Content(movie.Poster.Path)" />
                            }
                            else
                            {
                                <img class="img-fluid" alt="не найдено" src="@Url.Content("/Files/NotFound.jpeg")" />
                            }
                        </a>

                        <div class="btn-link">
                            <h4 class="btn-link text-break">@Html.ActionLink(movie.Name, "Info", new { id = movie.Id })</h4>
                        </div>
                        <p>@movie.YearOfIssue</p>
                    </div>
                }
            </div>
        </div>
        <div>
            @if (Model.PageViewModel.HasNextPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber-1)"
                   class="btn btn-outline-dark">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Назад
                </a>
            }
            @if (Model.PageViewModel.HasNextPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                   class="btn btn-outline-dark">
                    Вперед
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            }
        </div>

        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="Index"
               asp-route-page="1"
               class="btn btn-outline-dark mt-2">
                в начало
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }


    }
    else
    {
        <div>
            <h3>Ничего не найдено.</h3>
        </div>
    }
</div>